/*fonts import*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;515;600;700&display=swap');

/*general styles*/

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}


/*main section styles*/

main {
    padding: 15px;
    border-radius: 5px;
    background-color: #eee;
}


/*article*/

article h1 {
    font-size: 30px;
    margin: 0;
    margin-bottom: 10px;
}

article p {
    font-weight: 400;
    font-size: 17px;
}


/*second title*/

article h2 {
    font-weight: 600;
    font-size: 20px;
}


/*main container*/

.main-container {
    display: flex;
    flex-direction: column;
}


/*Image model*/

#main-container__image-container {
    background: whitesmoke;
    padding: 25px;
    margin: 0;
    max-width: 400px;
    margin: 0 auto;
}


/*image*/

#main-container__image-container img {
    width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}


/*rankin*/

.ranking-container {
    margin: auto;
    max-width: 800px;
}


/*p elements*/

.ranking-container p {
    text-align: left;
    margin: 0 auto;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 40px;
}


/*fight-container*/


/*general images*/

.main-container__general-image-container {
    max-width: 200px;
}

.main-container__general-image-container {
    border-radius: .25em;
    box-shadow: 1em 1em 2em .25em rgba(0, 0, 0, .2);
    margin: 2em auto;
    opacity: 0;
    transform: translateY(100px) rotateZ(-5deg);
    transition: transform 4s .25s cubic-bezier(0, 1, .3, 1), opacity .3s .25s ease-out;
    max-width: 600px;
    width: 90%;
    will-change: transform, opacity;
}

.main-container__general-image-container img {
    background: whitesmoke;
    padding: 10px;
    margin: 0;
    max-width: 250px;
    margin: 0 auto;
}


/*add scroll animation*/

.main-container__general-image-container.is-visible {
    opacity: 1;
    transform: rotateZ(-2deg);
}


/*final quote*/

.main-container__final-quote {
    margin-top: 15px;
}